---
layout: home
---

  <br/>

  <p>
    <a class="btn btn-primary my-2"
       href="#">Articles Sorted by Month</a>
    <a class="btn btn-secondary my-2"
       href="#">Articles Sorted by Tag</a>
  </p>

  <p>As always,
  should you be caught or killed,
  any knowledge of your actions will be disavowed.</p>

  <div class="textcenter">
    <img src="assets/images/one-page.png" 
         alt="business card">
  </div>

  <p class="small lead text-muted">
    <span class="fas fa-home"></span>&nbsp;
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
  </p>
