---
layout    : page
title     : Blog Posts
---

  {% assign posts = site.posts %}

  <ul class="widget-list">
  {% for post in posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
