// -- -- -- -- --
// _list.scss

ul.widget-list li:hover {
  background: map-get($oc-yellow-list, '3');
}

ul.widget-list {
  padding: 0px;
}

ul.widget-list {
  padding-left: 0;
  font-size: 13px;
  margin-left: 20px;
  list-style-image: url(../icons/chevrons-right-resized.svg);
}

ul.widget-list li:hover:before {
  color: map-get($oc-yellow-list, '5');
}

