// Color Classes

@each $color, $value in $oc-general-list {
  .oc-#{$color} {
    background-color: $value !important;
  }
  .oc-#{$color}-text {
    color: $value !important;
  }
}

.bq {
  // blockquote
  margin: 20px 0;
  padding-left: 1.5rem;
}

@each $name, $color in $oc-color-list {
  @each $spectrum, $value in $color {
    .oc-#{$name}-#{$spectrum} {
      background-color: $value !important;
    }
    .oc-#{$name}-#{$spectrum}-text {
      color: $value !important;
    }
  }
  .bq-#{$name}-dark {
    border-left: 5px solid map-get($color , "7");
  }
  .bq-#{$name}-light {
    border-left: 5px solid map-get($color , "3");
  }
}
