---
layout: default
---

  <main class="col-md-8 px-0">
    <section class="main-wrapper oc-blue-5">
      <div class="blog oc-white z-depth-3 hoverable">
        <section class="blog-header oc-blue-1">
          <h2 class="h4 font-weight-bold" itemprop="name headline">
            {{ page.title | default: site.title }}</h2>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content }}
        </article>
      </div>
    </section>
  </main>

  <aside class="col-md-4 px-0">   
    <section class="aside-wrapper oc-teal-5">
      <div class="widget oc-white z-depth-3 hoverable">     

        <div class="widget-header oc-teal-1">
          Side Menu
        </div>

        <div class="widget-body">
          This is a page kind layout.
        </div>

      </div>
    </section>
  </aside>

