<!DOCTYPE html>
<html>

<head>
  {% include site/head.html %}
</head>

<body>
  <!-- header -->
  {% include site/header.html %}

  <!-- main -->
  <div class="row layout-base maxwidth">
    {{ content }}
  </div>

  <!-- footer -->
  {% include site/footer.html %}
  {% include site/scripts.html %}
</body>

</html>

