---
layout : default
---

  <main role="main" 
        class="col p-4 bg-warning">
    <header>
      <h2>{{ page.title | default: site.title }}</h2>
    </header>
    <article>
      {{ content }}
    </article>
    <div class="text-muted text-center">
      This is a home kind layout,
      to show landing page.
    </div>
  </main>
