---
layout: default
---

  <main role="main" 
        class="col-md-8 p-4 bg-warning">
    <header>
      <h2>{{ page.title | default: site.title }}</h2>
      <p><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
    </header>
    <article>
      {{ content }}
    </article>
  </main>

  <aside class="col-md-4 p-4 bg-dark text-light">
    This is a post kind layout.
  </aside>
